<div class="contentarea">
  <div class="row nomargin">
    <div class="col-md-3">
      <app-customer-search
        [name]="'searchfield'"
        [placeholder]="'Ricerca anagrafica clienti'"
        [debouncetime]="500"
        [minlenght]="0"
        #searchfield>
      </app-customer-search>
    </div>
  </div>

  <div>
    <ngx-datatable class="material"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [rows]="rows"
      [count]="count"
      [offset]="page"
      [limit]="pagesize"
      [externalPaging]="true"
      [externalSorting]="true"
      (page)="onPage($event)"
      (sort)="onSort($event)"
      #mytable>

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="100">
        <ng-template ngx-datatable-row-detail-template let-row="row" let-expanded="expanded" >
          <div>
            <div><b>{{ row.name }}, {{ row.surname }}</b></div>
            <div>{{ row.address }}</div>
            <div>{{ row.cap }} {{ row.city }}, {{ row.province }}</div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Row Detail Template -->

      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false"
                       [draggable]="false" [canAutoResize]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-expanded="expanded" >
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                        title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
      <ngx-datatable-column name="id" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="name" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="surname" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="address" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="cap" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="city" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="province" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="action" [minWidth]="140">
        <ng-template ngx-datatable-cell-template let-index="rowIndex">
          action
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
