<div class="contentarea">
  <div>
    <ngx-datatable class="material"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [groupExpansionDefault]="true"
      [groupRowsBy]="'province'"
      [rows]="rows"
      #mytable>

      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="50">
        <ng-template ngx-datatable-group-header-template let-group="group" let-expanded="expanded">
          <div>
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                     title="Expand/Collapse Group" (click)="toggleExpandGroup(group)">
              <b>Province: {{ group.value[0].province }}</b>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <!-- Group Header Template -->

      <ngx-datatable-column name="id" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="name" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="surname" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="address" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="cap" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="city" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="province" [minWidth]="140" [sortable]="true">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="action" [minWidth]="140" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-index="rowIndex">
          action
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
